$bg-light: #dcdcdc;
$bg-dark: #1e1e1e;
$font-dark: #303030;

@mixin flex($jc: center) {
  display: flex;
  align-items: center;
  justify-content: $jc;
}

@mixin flex-col($ai: center) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: $ai;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/./fonts/Inter-Thin.woff2") format("woff2")
    url("./fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-ExtraLight.woff2") format("woff2")
    url("./fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Light.woff2") format("woff2")
    url("./fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2")
    url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2") format("woff2")
    url("./fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2")
    url("./fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.woff2") format("woff2")
    url("./fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-ExtraBold.woff2") format("woff2")
    url("./fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Black.woff2") format("woff2")
    url("./fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Krona One";
  src: url("./fonts/KronaOne-Regular.woff2") format("woff2"),
    url("./fonts/KronaOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 100vw;
  margin: 0 auto;
  background-color: $bg-light;
  color: $font-dark;
  font-weight: 300;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  color: $font-dark;
  text-decoration: none;
  transition: 0.4s;
}

a:active,
a:hover,
a:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section {
  position: relative;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.container-two {
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;
}

.container-three {
  max-width: 1034px;
  width: 100%;
  margin: 0 auto;
}

.mobileMenu {
  display: none;
}

// Header
.header {
  @include flex(space-between);
  align-items: end;
  padding-top: 20px;
  font-size: 21px;
  color: #272727;
  &__name {
    @include flex;
    gap: 33px;
    font-weight: 400;
    font-size: 19px;
    color: #000;
    & .square {
      @include flex;
      width: 44px;
      height: 36px;
      background: #1b1c20;
      font-size: 20px;
      line-height: 106%;
      text-transform: uppercase;
      color: #fff;
    }
  }
  & .nav {
    margin-left: 40px;
    @include flex(space-between);
    gap: 45px;
  }
  &__tel {
    width: 241px;
    height: 36px;
    @include flex;
    background: $bg-dark;
    font-size: 20px;
    line-height: 106%;
    border-radius: 11px;
    color: #fff;
  }
}

// Main
.main {
  & .container {
    position: relative;
  }
  &__sc {
    position: absolute;
    bottom: 38.5%;
    left: 10px;
  }
  &__imgs {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 55px 0 0 -27px;
  }
  & .ellipse {
    position: absolute;
    z-index: -1;
    top: 150px;
    left: 585px;
    &::before {
      content: "";
      display: inline-block;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 54px;
      top: 52px;
      background: url("./img/star.png") no-repeat;
    }
  }
  &__substract {
    position: absolute;
    z-index: -1;
    top: -12%;
    left: 17%;
  }
  &__shadow {
    position: absolute;
    z-index: -1;
    top: 16%;
    left: 27%;
    filter: blur(23.95px);
  }
  &__texts {
    width: 73%;
    position: absolute;
    bottom: 27%;
    left: 243px;
    @include flex(space-between);
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 59px;
    color: $bg-dark;
    & h1 {
      width: 100%;
      font-family: "Krona One";
      font-weight: 400;
      font-size: 283px;
      line-height: normal;
      background: linear-gradient(233deg, #fff 55%, #000 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &-black {
      margin: -20px 0 0px 49px;
    }
    &-light {
      width: 200px;
      margin: -33px -9px 0px 0;
      font-size: 22px;
      color: $font-dark;
    }
  }
}

.socials {
  width: min-content;
  position: relative;
  bottom: 90px;
  left: 12px;
  @include flex(start);
  padding: 5px 10px;
  background: #fff;
  border-radius: 160px;
  & a {
    @include flex;
    height: 30px;
    width: 35px;
    border-right: 1px solid #d9d9d9;
    &:last-of-type {
      border-right: none;
    }
  }
}

//Product
.info {
  margin-top: 40px;
  .container {
    @include flex-col;
  }
  &__img {
    position: absolute;
    &-left {
      left: 5px;
      top: -60px;
    }
    &-right {
      right: 0;
      top: -490px;
    }
    &-rightbottom {
      right: 0;
      top: 160px;
    }
  }
  &__text {
    width: 41%;
    margin: 60px auto 145px;
    font-size: 22px;
    text-transform: lowercase;
    text-align: center;
    line-height: 147%;
    &-white {
      font-weight: 400;
      font-size: 50px;
      color: #fff;
      font-family: "Krona One";
    }
  }
}

.productSlider {
  position: relative;
  margin-top: 20%;
  .slide {
    width: 80%;
    margin: 0 auto;
    @include flex(space-between);
    gap: 30px;
    font-size: 22px;
    text-transform: lowercase;
    &__img {
      position: relative;
    }
    &__text {
      max-width: 500px;
      margin-top: 45px;
      line-height: 147%;
    }
    &__title {
      width: 90%;
      margin-bottom: 50px;
      font-weight: 700;
      font-size: 51px;
      line-height: 102%;
      color: #3d3d3d;
      text-transform: none;
    }
  }
}

.package-one {
  margin-left: 25%;
}

.package-two {
  position: absolute;
  top: 40px;
  z-index: -1;
}

.circle {
  position: absolute;
  top: -18%;
  z-index: -2;
}

.productSlider .swiper-button-next,
.productSlider .swiper-button-prev {
  width: 91px;
  height: 47px;
  left: unset;
  right: 480px;
  top: unset;
  bottom: 69px;
  position: absolute;
  border-radius: 140px;
  background: #f2f2f2;
}

.productSlider .swiper-button-prev {
  right: 585px;
}

.property {
  position: relative;
  margin-top: 490px;
  overflow-x: clip;
}

.tableline {
  position: relative;
    left: 4%;
  @include flex(space-between);
  align-items: start;
  margin-bottom: 300px;
  & h3 {
    margin-bottom: 35px;
    padding: 22px 30px;
    font-weight: 600;
    font-size: 30px;
    color: #3d3d3d;
  }
  & p {
    width: 64%;
    padding-left: 30px;
    font-size: 22px;
    line-height: 147%;
    text-transform: lowercase;
  }
  &__img {
    width: 400px;
    padding: 14px 20px;
    & img {
      width: 200px;
    }
  }
  &__text {
    width: 70%;
    &-border {
      border: 1px solid #f1f1f1;
      border-left-width: 25px;
    }
    &-noborder {
      border: 1px solid #f1f1f1;
      border-left: none;
      border-right: none;
    }
    &-line {
      position: relative;
      &:before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 1233px;
        background: #f5f5f5;
        position: absolute;
      }
    }
  }
}

.propertySize {
  position: relative;
    left: 4%;
  @include flex(start);
  align-items: start;
  &__title {
    margin-top: 30px;
    font-weight: 600;
    font-size: 170px;
    letter-spacing: -0.06em;
    color: #f5f5f5;
  }
  &__img {
    position: relative;
    &-back {
      max-width: 465px;
    }
    &-up {
      max-width: 262px;
      position: absolute;
      right: 298px;
      bottom: -17px;
    }
  }
  &__text {
    width: 62%;
  }
  &__sizes {
    margin-top: 145px;
    @include flex(start);
  }
  &__star {
    width: 32%;
    position: relative;
    left: -18px;
    bottom: 45px;
  }
  &__num {
    font-size: 37px;
    line-height: 245%;
    text-transform: lowercase;
    color: #1e1e1e;
    &-bold {
      font-weight: 400;
    }
    & span {
      font-weight: 400;
      font-size: 25px;
    }
  }
}

.blur {
  position: absolute;
  z-index: -1;
  right: -20%;
  bottom: -20%;
  width: 944px;
  height: 1116px;
  border-radius: 0 0 830px 0;
  filter: blur(145.29px);
  background: url(./img/blur.png);
  transform: rotate(-180deg);
  mix-blend-mode: overlay;
}

.application {
  &__sub {
    position: absolute;
    left: 0;
    bottom: 7%;
  }
  &__circle {
    position: absolute;
    right: 0;
    bottom: 7%;
  }
  &__title {
    width: 515px;
    height: 377px;
    margin-left: 22.5%;
    padding: 60px 90px;
    display: flex;
    align-items: end;
    background: linear-gradient(
      350deg,
      #ededed 0%,
      rgba(221, 221, 221, 0) 100%
    );
    font-weight: 600;
    font-size: 51px;
    line-height: 102%;
    color: #3d3d3d;
  }
  &__sachet {
    margin: -47px 0 -72px -80px;
    font-family: "Krona One";
    font-weight: 400;
    font-size: 350px;
    color: #ededed;
  }
  &__btn {
    position: relative;
    left: 9%;
    width: 530px;
    height: 93px;
    margin: 167px 0 179px 0;
  }
  & .table {
    position: relative;
    left: 6.5%;
  }
}

.table {
  @include flex(start);
  flex-wrap: wrap;
  &__item {
    width: 50%;
    @include flex(start);
    & div {
      width: 93px;
      height: 94px;
      @include flex;
      border: 1.41px solid #fff;
    }
    & p {
      width: 82%;
      height: 94px;
      @include flex(start);
      padding: 0 10% 0 37px;
      font-size: 22px;
      line-height: 132%;
      text-transform: lowercase;
      border: 1.41px solid #fff;
      border-left: none;
    }
    &-text {
      font-weight: 600;
      font-size: 30px;
    }
    &-ml {
      margin-left: 50%;
    }
  }
}

.btn {
  @include flex;
  border: 0;
  outline: 0;
  background: linear-gradient(
    281deg,
    #1b1c20 0%,
    #31221c 31.86%,
    #8b4d2e 60.99%,
    #ff803d 100%
  );
  font-weight: 300;
  font-size: 26px;
  line-height: 83%;
  font-family: "Inter", sans-serif;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.packing {
  position: relative;
  left: 4.5%;
}

//Specially

//Partners

//Order

//Contacts

// Footer

// Адаптивность
// @media (max-width: 768px) {
//   .mobileMenu.active .mobileMenu__burger:nth-of-type(1) {
//     display: none;
//   }
//   .mobileMenu.active .mobileMenu__burger:nth-of-type(2) {
//     transform: rotate(45deg);
//   }
//   .mobileMenu.active .mobileMenu__burger:nth-of-type(3) {
//     transform: rotate(-45deg);
//     margin-top: -12px;
//   }
// }
